<h1><%= @user.name %>'s Calendar</h1>

<%= link_to (image_tag("sample_calendar.png", alt: "Example Calendar", class: 'img-responsive')), "http://www.bandsintown.com/event/10701004?artist=Kendrick%20Lamar&came_from=203" %>