<div class="container">
  <h1><%= @user.name %>'s Upcoming Shows</h1>
  <div>
    <h4 class="inline"><%= link_to "List", calendar_index_path %></h4>
    <h4 class="inline"><%= link_to "Map", map_path %></h4>
  </div>