<h1>About <em>&ldquo;the music project&rdquo;</em></h1>
<p>TMP is a practice project of mine which revolves around 2 main components:</p>
<ol>
  <li>Customized music news based on artists that <em>you</em>, the user, follows.</li>
  <li>Customized calendar of upcoming concerts based on artists that <em>you</em>, the user, follows.</li>
</ol>

<p>Created by: Jason Quaccia 2015&copy;</p>