<div class="follow">
  <% if follow = current_user.followed(artist) %>
    <%= link_to [artist, follow], class: 'btn btn-danger', method: :delete do %>
      Unfollow
    <% end %>
  <% else %>
    <%= link_to [artist, Follow.new], class: 'btn btn-primary', method: :post do %>
      Follow
    <% end %>
  <% end %>
</div>