/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.user_info {
  margin-top: 9px;
}

.nav {
  margin: 5px 0;
}

input#user_remember_me.ml_10 {
  margin-left: 10px;
}

.upcoming_playlist {
  border: 2px solid #000;
  width: 75%;
  margin: auto;

  h4, .shuffle {
    text-align: center;
  }
}

.shuffle {
  list-style-type: none;
  border: 1px solid #000;
  width: 27%;
  margin: auto;
  padding: 0;
  border-radius: 15px;
}

.avatar {
  border-radius: 10px;
}

.nav_avatar {
  border-radius: 4px;
}

.navbar-toggle {
  background-color: #000;
}

.navbar-toggle .icon-bar + .icon-bar {
  background-color: #fff;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.artists_hr {
  border-color: #000;
}

// Media Queries

@media (max-width: 767px) {
  .mobile {
    li {
      background-color: #000;
      float: none;
      color: #fff;
      border-radius: 10px;
      margin-bottom: 1px;

      a {
        color: #fff;

        &:hover {
          color: #000;
          background-color: #fff;
          border-radius: 10px;
          text-decoration: underline;
          width: 100%;
        }
      }
    }

    .user_info {
      margin-bottom: 10px;
    }
  }
}

.exit {
  color: gray;

  &:hover {
    color: #000;
  }
}

div#modal {
    background-color: #fff;
    height: auto;
    border: 1px solid #000;
    border-radius: 5px;
    position: absolute;
    width: 60%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    display: none;
}

.content {
  h3,
  div,
  h4 {
    padding: 10px;
  }
}

body {
  background-color: #363636;
}

.nav_container_bg {
  background-color: #FFFFFF;
}

.body_container {
  background-color: #E9E9E9;
}