/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Lato', 'Avenir Next', Arial, sans-serif;
}

.user_info {
  margin-top: 9px;
}

.nav {
  margin: 5px 0;
}

input#user_remember_me.ml_10 {
  margin-left: 10px;
}

.upcoming_playlist {
  border: 2px solid #000;
  width: 75%;
  margin: auto;

  h4, .shuffle {
    text-align: center;
  }
}

.shuffle {
  list-style-type: none;
  border: 1px solid #000;
  width: 27%;
  margin: auto;
  padding: 0;
  border-radius: 15px;
}

.avatar {
  border-radius: 10px;
}

.nav_avatar {
  border-radius: 4px;
}

.navbar-toggle {
  background-color: #363636;
}

.navbar-toggle .icon-bar + .icon-bar {
  background-color: #fff;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.artists_hr {
  border-color: #000;
}

// Media Queries

@media (max-width: 767px) {
  .mobile {
    li {
      background-color: #363636;
      float: none;
      color: #fff;
      border-radius: 10px;
      margin-bottom: 1px;

      a {
        color: #fff;

        &:hover {
          color: #000;
          background-color: #fff;
          border-radius: 10px;
          text-decoration: underline;
          width: 100%;
        }
      }
    }

    .user_info {
      margin-bottom: 10px;
    }
  }

  .mobile_title {
    position: absolute;
    top: 15px;
    left: 20px;
    text-decoration: overline;
    display: inherit !important;
  }
}

.exit {
  color: gray;

  &:hover {
    color: #000;
  }
}

// div#modal {
//     background-color: #fff;
//     height: auto;
//     border: 1px solid #000;
//     border-radius: 5px;
//     position: absolute;
//     width: 60%;
//     left: 0;
//     right: 0;
//     margin-left: auto;
//     margin-right: auto;
//     top: 100px;
//     display: none;
// }

// .content {
//   h3,
//   div,
//   h4 {
//     padding: 10px;
//   }
// }

body {
  background-color: #E9E9E9;
}

.nav_container_bg {
  background-color: #FFFFFF;
}

.body_container {
  background-color: #E9E9E9;
}

.mb-1 {
  margin-bottom: -1px;
}

.round_button {
  width: 0%;
}

.round_button_circle {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 10px solid #E9E9E9;
  box-shadow: 0 0 1px black;
  margin-left: -20px;
}

.round_button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -8px;
  text-align: center;
  margin-left: -3px;
  color: #000;
}

.mobile_title {
  display: none;
}

.no_border_bottom {
  border-bottom: none;
}

.artist_recommendation_img {
  margin: auto;
  border-radius: 5px;
}

.artist_recommendation {
  margin: 15px auto;
  width: 65%;
  border-radius: 5px;
}

.artist_recommendation_wrapper {
  display: inline-block;
}

.unfollow-box.pull-right {
    margin-right: 5px;
}

.hide {
  display: none;
}

.fade_in_and_out {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #000;
  border-color: #000;
  color: #fff;
  border-radius: 0;
}

.white {
  opacity: 1;
  color: #fff;
}

.delay03 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.delay04 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.delay05 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.delay06 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.delay07 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.delay08 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.delay09 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.delay10 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.bottom_links {
  margin-top: 50px;
}

#menu-toggle {
  position: absolute;
  right: 12.5px;
  top: 9px;
  border-radius: 30px;
  background-color: #000;
  border: none;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    background-color: #F45A39;
  }
}

.sign_up {
  background-color: #F45A39;
  width: 11%;
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 14px;
  color: #E9E9E9;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    background-color: #000;
    color: #E9E9E9;
  }
}

.sign_in {
  background-color: #F45A39;
  width: 11%;
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 14px;
  color: #E9E9E9;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    background-color: #000;
    color: #E9E9E9;
  }
}

span.white {
  color: #fff;
}

.no_mb {
  margin-bottom: 0;
  
}

.nav_header {
  font-size: 25px;
  color: #fff;
  font-weight: 300;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.nav_header_underline {
  text-decoration: underline;
}

.nav_links {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 300;
}

.sidebar-nav li a {
  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.logo {
  position: absolute;
  top: 15px;
  left: 12.5px;
  color: #000;
  font-weight: bold;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.mobile_only {
  display: none;
}

@media (max-width: 450px) {
  .mobile_only {
    display: block;
  }
}

#red_bg {
  background: url(red1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding-right: 0;
  padding-left: 0;
  color: #FFF;
  height: 555px;
}

.mb20 {
  margin-bottom: 20px;
}

.inner {
  background: darken(rgba(#F45A39,0.8), 30%) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
  height: 555px;
}

@media screen and (max-width: 992px) {
  .mobile_center {
    text-align: center;
  }
}

h5 {
  em {
    a {
      color: darken(#FFF, 30%);

      &:hover {
        color: darken(#FFF, 30%);
      }
    }
  }
}

.mobile_only {
  display: none;
}

@media screen and (max-width: 400px) {
  .mobile_only {
    display: block;
  }
}

.follow_section {
  max-height: 250px;
  overflow: auto;
  background-color: rgba(0,0,0,0.1);
}

.follow-row {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}