// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist_li {
  list-style-type: none;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  padding: 20px;
}

.artist_img {
  height: auto; 
  width: 100%;
  max-width: 200px !important;
  max-height: 300px;
  border-radius: 5px;
  margin-top: 20px;
}

.artist_name {
  color: gray;
}

.mic_bg {
  background-color: gray;
  width: 200px;
}

.delay2s {
  animation-delay: 2s;
}

.follow_link {
  color: #808080;

  &:hover {
    color: #808080;
  }
}

.right {
  float: right;
}

.small_screen_search_results {
  display: none;
}

@media screen and (max-width: 992px) {
  .small_screen_search_results {
    display: block;
  }

  .large_screen_search_results {
    display: none;
  }
}