// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist_li {
  list-style-type: none;
  margin-bottom: 15px;
}

li .artist_img {
  border-radius: 20px;
  width: 100px;
  height: 100px;
}

.artists_hr {
  border-color: #000;
}

.artist_name {
  color: gray;
}

.mic_bg {
  background-color: gray;
}