// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline {
  width: 50%;
  display: inline;
  margin-right: 10px;
}

.mtb_10 {
  margin: 10px 0;
}

.top {
  margin-bottom: 0;
  padding-bottom: 0;
}

.artist_links_wrapper {
  margin-top: 10px;
  
  .artist_links {
    background-color: #555555;
    color: #fff;
    padding: 2px;
    border-radius: 2px;
    font-size: 11px;
  }
}

.map_wrapper {
  margin-top: 15px;
}