// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline {
  width: 50%;
  display: inline;
  margin-right: 10px;
}

.mtb_10 {
  margin: 10px 0;
}