// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mb15 {
  margin-bottom: 15px;
}

.newsfeed_artist {
  background-color: #363636;
  color: #fff;
  padding: 10px;
}

.feedify-item-header.mb15.artist_name.newsfeed_artist.animated.bounceInUp {
  margin-bottom: 0;
  font-size: 30px;
}

.fs30 {
  font-size: 30px;
  background-color: #F45A39;
  margin-bottom: 0;
}

.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  text-indent: 7px;
  background-color: gray;
  opacity: 0.5;
  line-height: 40px;
  color: #FFF;

  &:hover,
  &:focus {
    color: #FFF;
    text-decoration: none;
  }
}

.scrolldown {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50px;
  left: 50px;
  text-indent: 0px;
  background-color: gray;
  opacity: 0.5;
  line-height: 40px;
  color: #FFF;

  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;

  &:hover,
  &:focus {
    color: #FFF;
    text-decoration: none;
  }
}