// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mb15 {
  margin-bottom: 15px;
}

.newsfeed_artist {
  background-color: #363636;
  color: #fff;
  padding: 10px;
}

// STICKY HEADERS ON NEWSFEED PAGE //

.followMeBar {
  background: #999;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  color: #fff;
  margin-top: 0;
}

.followMeBar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 5;
  margin-top: 0;
}

.followMeBar.fixed.absolute {
  position: absolute;
}

// // // // // // // // // // // //